.container{
    display: flex;
    flex-direction: row;
    z-index: 1;
    height: 50em;
}

.container1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aboutContainer{
    display: flex;
    margin-top: -2.5em;
}

.textContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5em;
    padding-left: 7em;
    font-weight: 300;
    letter-spacing: 0.04em;
}

.introText{
    z-index: 1;
    width: fit-content;
    height: fit-content;
}

.bioText{
    z-index: 1;
    width: 50em;
    height: fit-content;
}

.allSkills{
    display: flex;
    flex-direction: column;
    width: 50em;
    margin-top: 5rem;
}
.skillsText{
    line-height: 1.6rem;
    font-weight: 300;
    font-size: 1.3rem;
    z-index: 1;
}

.bioTitle{
    font-size: 2em;
    font-weight: 500;
    z-index: 1;
}

.skillsTitle{
    font-size: 2em;
    font-weight: 500;
    z-index: 1;
}

.picContainer{
    z-index: 1;
    display: flex;
    margin-left: 5em;
    align-items: center;
}