.contatiner{
    display: flex;
    z-index: 1;
}

.container1{
    display: flex;
    z-index: 1;
    flex-direction: column;
    height: 50em;
    justify-content: center;
    align-items: center;
}

.contactText{
    display: flex;
    z-index: 1;
    margin: 20px;
    font-weight: 600;
    font-size: 1.5em;
}

.text{
    display: flex;
    z-index: 1;
    width: 30em;
    font-size: 1.2em;
    font-weight: 300;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2em;
}

.emailBtn{
    display: flex;
    z-index: 1;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 10px;
}

.emailBtn:hover{
    background-color: rgb(0, 35, 150);
}

.formContainer{
    display: flex;
}

.contactForm{
    display: flex;
    flex-direction: column;
}

.inputEmail{
    font-size: 1rem;
    margin-bottom: 20px;
    padding: 10px;
    width: 20rem;
}

.inputSubject{
    font-size: 1rem;
    margin-bottom: 20px;
    padding: 10px;
    width: 20rem;
}

.textareaMessage{
    font-size: 1rem;
    margin-bottom: 20px;
    height: 7.5em;
    padding: 10px;
}

.formBtn{
    background-color: black;
    color: white;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
    width: 20rem;
}

.formBtn:hover{
    background-color: blue;
}