/*  
    desktop:1200px;
    laptop:1024px;
    tablet:768px;
    phone:480px;
*/
@media (min-width: 1501px){
    .contatiner{
        display: flex;
        z-index: 1;
    }

    .container1{
        display: flex;
        z-index: 1;
        flex-direction: column;
        height: 50em;
        justify-content: center;
        align-items: center;
    }

    .contactText{
        display: flex;
        z-index: 1;
        margin: 20px;
        font-weight: 600;
        font-size: 1.5em;
    }

    .text{
        display: flex;
        z-index: 1;
        width: 30em;
        font-size: 1.2em;
        font-weight: 300;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 2em;
    }

    .emailBtn{
        display: flex;
        z-index: 1;
        border: 2px solid transparent;
        background-color: black;
        border-radius: 5px;
        padding: 10px;
        color: #0075FF;
    }

    .emailBtn:hover{
        color: rgb(255, 0, 150);
        border: 2px solid #0075FF;
    }

    .formContainer{
        display: flex;
    }

    .contactForm{
        display: flex;
        flex-direction: column;
    }

    .inputEmail{
        font-size: 1rem;
        margin-bottom: 20px;
        padding: 10px;
        width: 20rem;
        background-color: #0075ff5e;
        color: white;
    }

    .inputSubject{
        font-size: 1rem;
        margin-bottom: 20px;
        padding: 10px;
        width: 20rem;
        background-color: #0075ff5e;
        color: white;
    }

    .textareaMessage{
        font-size: 1rem;
        margin-bottom: 20px;
        height: 7.5em;
        padding: 10px;
        background: #0075ff5e;
        color: white;
    }

    .formBtn{
        background-color: black;
        color: white;
        border: 2px solid #0077ff;
        border-radius: 5px;
        padding: 10px;
        font-size: 1.2rem;
        width: 20rem;
    }

    .formBtn:hover{
        color: rgb(255, 0, 150);
    }
}

@media (max-width: 1500px){
    .contatiner{
        display: flex;
        z-index: 1;
    }

    .container1{
        display: flex;
        z-index: 1;
        flex-direction: column;
        height: 50em;
        justify-content: center;
        align-items: center;
    }

    .contactText{
        display: flex;
        z-index: 1;
        margin: 20px;
        font-weight: 600;
        font-size: 1.5em;
    }

    .text{
        display: flex;
        z-index: 1;
        width: 30em;
        font-size: 1.2em;
        font-weight: 300;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 2em;
    }

    .emailBtn{
        display: flex;
        z-index: 1;
        border: 2px solid transparent;
        background-color: black;
        border-radius: 5px;
        padding: 10px;
        color: #0075FF;
    }

    .emailBtn:hover{
        color: rgb(255, 0, 150);
        border: 2px solid #0075FF;
    }

    .formContainer{
        display: flex;
    }

    .contactForm{
        display: flex;
        flex-direction: column;
    }

    .inputEmail{
        font-size: 1rem;
        margin-bottom: 20px;
        padding: 10px;
        width: 20rem;
        background-color: #0075ff5e;
        color: white;
    }

    .inputSubject{
        font-size: 1rem;
        margin-bottom: 20px;
        padding: 10px;
        width: 20rem;
        background-color: #0075ff5e;
        color: white;
    }

    .textareaMessage{
        font-size: 1rem;
        margin-bottom: 20px;
        height: 7.5em;
        padding: 10px;
        background: #0075ff5e;
        color: white;
    }

    .formBtn{
        background-color: black;
        color: white;
        border: 2px solid #0077ff;
        border-radius: 5px;
        padding: 10px;
        font-size: 1.2rem;
        width: 20rem;
    }

    .formBtn:hover{
        color: rgb(255, 0, 150);
    }
}

@media (max-width: 768px){
    /* .contatiner{
        display: flex;
        z-index: 1;
    } */

    .container1{
        display: flex;
        /* z-index: 1; */
        flex-direction: column;
        height: 75em;
        justify-content: center;
        align-items: center;
        width: 100vh;
        margin-left: 0em;
        /* margin-top: 5em; */
    }

    .contactText{
        display: flex;
        z-index: 1;
        margin: 30px;
        font-weight: 600;
        font-size: 2em;
    }

    .text{
        display: flex;
        z-index: 1;
        width: 25em;
        font-size: 1.25em;
        line-height: 1.2em;
        font-weight: 300;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 2em;
    }

    /* .emailBtn{
        display: flex;
        z-index: 1;
        border: 2px solid transparent;
        background-color: black;
        border-radius: 5px;
        padding: 10px;
        color: #0075FF;
    } */

    /* .emailBtn:hover{
        color: rgb(255, 0, 150);
        border: 2px solid #0075FF;
    } */

    .formContainer{
        display: flex;
    }

    .contactForm{
        display: flex;
        flex-direction: column;
    }

    .inputEmail{
        font-size: 1.3rem;
        margin-bottom: 20px;
        padding: 10px;
        width: 25rem;
        background-color: #0075ff5e;
        color: white;
    }

    .inputSubject{
        font-size: 1.3rem;
        margin-bottom: 20px;
        padding: 10px;
        width: 25rem;
        background-color: #0075ff5e;
        color: white;
    }

    .textareaMessage{
        font-size: 1.3rem;
        margin-bottom: 20px;
        height: 7.5em;
        padding: 10px;
        background: #0075ff5e;
        color: white;
    }

    .formBtn{
        background-color: black;
        color: white;
        border: 2px solid #0077ff;
        border-radius: 5px;
        padding: 10px;
        font-size: 1.2rem;
        width: 25rem;
        margin-bottom: 2em;
    }

    /* .formBtn:hover{
        color: rgb(255, 0, 150);
    } */
}