.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5em;
    font-size: 2em;
    height: 25em;
    padding-left: 7em;
    font-weight: 300;
    letter-spacing: 0.04em;
}

.iconContainer{
    left: auto;
    right: 20px;
    width: 40px;
    position: fixed;
    bottom: 0;
    z-index: 1;
    color: white;
}

.iconContainer1{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

.linkedInIcon{
    padding-bottom: 15px;
    padding-right: 5px;
    margin-right: 1.5em;
}

.gitHubIcon{
    padding-bottom: 10px;
    padding-right: 5px;
    margin-right: 1.5em;
}

.emailLink{
    /* margin-top: 20px; */
    margin-bottom: 20px;
    text-decoration: underline;
    margin-right: 1.5em;
    padding: 10px;
    writing-mode: vertical-rl;
    color: grey;
    user-select: none;
    /* font-size: 1.2em; */
}

.emailLink:hover{
    color: #0075FF;
}

.line{
    border-left: 1px solid grey;
    padding: 10px;
    margin-right: 0.8em;
    height: 10em;
}

.words{
    z-index: 1;
    width: fit-content;
}

.myName{
    color: #0075FF;
    font-size: 2.5em;
    line-height: 1.5em;
    font-weight: 700;
    width: fit-content;
    z-index: 1;
}

.btnContainer{
    display: flex;
    font-size: 1.5em;
    align-items: center;
    margin-top: .75em;
}

.projectBtn{
    background-color: black;
    color: #0075FF;
    font-size: 1.2rem;
    margin-top: 0.65rem;
    margin-right: 0.5rem;
    letter-spacing: 0.05em;
    z-index: 1;
    border: 0;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

.projectBtn:hover{
    background-color: black;
    border: 2px solid #0075FF;
    color: rgb(255, 0, 150);
}

.resumeBtn{
    background-color:black;
    color: #0075FF;
    font-size: 1.2rem;
    margin-top: 0.65rem;
    margin-left: 0.5rem;
    letter-spacing: 0.05em;
    z-index: 1;
    border: 0;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

.resumeBtn:hover{
    background-color: black;
    border: 2px solid #0075FF;
    color: rgb(255, 0, 150);
}

.linkTag{
    display: flex;
}

.gitHubIconHover:hover{
    fill: #0075FF;
}