.container{
    display: flex;
    z-index: 1;
}

.container1{
    z-index: 1;
    margin: 0 auto;
}

.container2{
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    min-width: 60em;
}

.carouselContainer{
    z-index: 1;
    display: flex;
}