.container{
    display: flex;
    z-index: 1;
}

.container1{
    margin: 0 auto;
}

.container2{
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    min-width: 60em;
}

.carouselContainer{
    z-index: 1;
    display: flex;
}

.projectsContainer{
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

.firstProject{
    height: 285px;
    z-index: 1;
    display: flex;
    padding: 20px;
    background-color: #0077ff4d;
    border-radius: 5px;
}

.secondProject{
    margin-top: 2.5em;
    height: 285px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #0077ff4d;
    border-radius: 5px;

}
.thirdProject{
    margin-top: 2.5em;
    height: 285px;
    z-index: 1;
    display: flex;
    padding: 20px;
    background-color: #0077ff4d;
    border-radius: 5px;
}
.fourthProject{
    margin-top: 2.5em;
    margin-bottom: 5em;
    height: 285px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #0077ff4d;
    border-radius: 5px;
}

.image1{
    display: flex;
    align-items: center;
    margin-right: 3rem;
}
.image2{
    display: flex;
    align-items: center;
    margin-left: 3rem;
}
.image3{
    display: flex;
    align-items: center;
    margin-right: 3rem;
}
.image4{
    display: flex;
    align-items: center;
    margin-left: 3rem;
}

.imageLinks{
    border: 1px solid #0075FF;
}

.projectText{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.projectName{
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
}

.projectDescription{
    margin-bottom: 1.2rem;
}

.gitHubRepo{
    color: white;
    margin-right: 5px;
    padding: 5px;
    border: 0;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.gitHubRepo:hover{
    background-color: black;
    border: 1px solid #0075FF;
    color: rgb(255, 0, 150);
}

.btnContainer{
    display: flex;
    justify-content: flex-start;
}

.projectDemo{
    color: white;
    margin-left: 5px;
    padding: 5px;
    border: 0;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.projectDemo:hover{
    background-color: black;
    border: 1px solid #0075FF;
    color: rgb(255, 0, 150);
}

.divider{
    line-height: 1.0em;
    font-size: 1.5em;
    user-select: none;
}

.asteroidsContainer{
    display: flex;
    justify-content: center;
    color: white;
}

.gameBoard{
    width: 700px;
    height: 500px;
    border: 2px solid #0075FF;
    margin-top: 10em;
}

.controls{
    margin-top: 5em;
    z-index: 1;
}